{% extends "base.html.twig" %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1>Products</h1>

    {% for product in products %}
        <div>
            <img src="{{ asset('images/' ~ product.imagePath) }}" alt="Product Image" width="50px">
            <a href="{{ path('product_show', {id: product.id}) }}">{{ product.name }}</a>
            <p>${{ product.price }}</p>
        </div>
    {% endfor %}

    {{ knp_pagination_render(products) }}
{% endblock %}
