{% extends "base.html.twig" %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <h1>{{ product.name }}</h1>

    <img src="{{ asset('images/' ~ product.imagePath) }}" alt="Product Image" width="150px">

    <p>${{ product.price }}</p>

    <form method="post" action="{{ path('cart_add', {id: product.id}) }}">
        <input type="hidden" name="token" value="{{ csrf_token('product-add-to-cart-' ~ product.id) }}">
        <input type="submit" value="Add To Cart">
    </form>

{% endblock %}
