{% extends "base.html.twig" %}

{% block title %}Manage Products{% endblock %}

{% block body %}
    <a href="{{ path('admin_product_new') }}">New Product</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Image Path</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {% for product in products %}
            <tr>
                <th>{{ product.name }}</th>
                <th>{{ product.imagePath }}</th>
                <th>${{ product.price }}</th>
                <th>
                    <a href="{{ path('admin_product_edit', {id: product.id}) }}">Edit</a>
                    <a href="{{ path('admin_product_delete', {id: product.id}) }}">Delete</a>
                </th>
            </tr>
        {% endfor %}
    </table>

    <div>
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
